.idea/
.vscode/
.DS_Store
logs/

config/**/*.json
config/*.json
config/**/*.toml
config/*.toml

config/**/config.yml
!config/default.yml
haproxy/haproxy.cfg


debug
build

vendor/

.env

*.__local*
mysql/data
