[mysqld]

skip-host-cache
skip-name-resolve
max-connections=50

server-id=2
relay-log = /var/log/mysql/mysql-relay-bin.log
log_bin = /var/log/mysql/mysql-bin.log
binlog_format = STATEMENT
binlog_do_db = appdb
